/*Kolor tła*/
body {background-color: #282828;}
/* Sekcja tekstu */
#begining, #task, #sidepanel, #foot
{
    color:white;
    background-color:#303030;
}
#begining, #task
{
    text-align: center;
}
/* Koniec sekcji tekstu*/

/* Padding (Granice tekstu)*/
p
{
    padding-left: 15px;
    padding-right: 15px;
}
#task, #begining
{
    padding-top: 3px;
    padding-bottom: 10px;
}
/* Koniec Padding */

/* Czcionki */
a
{
    color: #85ba3c;
}
h1
{
    font-size: xx-large;
}
footer, article, begining, li a, h1
{
    font-family: "SF Pro Display";
}
/* Konic czcionki */

/*Formy*/
input
{
    margin-top: 4px;
    color: white;
    background-color: #282828;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
}
.potwierdz
{
    color: white;
    background-color: #85ba3c;
    cursor: pointer;
    border: none;
    margin-top: 8px;
    padding: 6px;
}

/*Koniec formy

/* Tabela *
table, td, th 
{
    border: 1px solid black;
    text-align: center;
}

table 
{
    border-collapse: collapse;
}

tr:hover {background-color: #48778a;}
/* Koniec Tabeli */

/* Sekcja stylu paska  */
.menu a
{
    text-decoration: none;
    padding: 12px;
    overflow: hidden;
    background-color: #303030;
    color: white;
    display: block;
}
.menu
{
    text-align: center;
    width: 400px;
    display: inline-block;
}
.menu a:hover
{
    background-color: #282828;
}
.menu a.current
{
    background-color: #85ba3c;
}
/* Koniec sekcji stylu paska */

/* Układ strony */
html, body
{
    position: relative;
    min-height: 110vh;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
/* Koniec układ strony */
