#begining
{
    color:white;
    background-color:#002b3c;
}
#review
{
    color:white;
    background-color:#002b3c;
}
#sidepanel
{
    color:white;
    background-color:#063d52;
}
#foot
{
    color:white;
    background-color:#063041;
}


